
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#url-input {
  width: 50vw;
  padding: 8px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

#url-input:focus {
  border: 1px solid #0078d4;
  box-shadow: 0 0 5px #0078d4;
}

/* Buttons */
button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 50%;
  background-color: #f4f4f9;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
}

button:hover {
  background-color: #e6e6e6;
  transform: scale(1.1);
}

button:active {
  background-color: #dcdcdc;
}

#browser-tools {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px; 
}

#button-container {
  display: flex;
  gap: 12px;
}

#go {
  margin-left: 10px; 
  padding: 8px 16px; 
  border-radius: 8px; 
}


#tabs-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 0;
  background-color: #f4f4f9;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.tab {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.2s;
}

.tab:hover {
  background-color: #e6e6e6;
  transform: scale(1.05);
}

.tab.active {
  background-color: #0078d4;
  color: #ffffff;
  font-weight: bold;
}


#webview {
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 100px); 
  border: none;
}

#new-tab-button,
#new-window-button {
  width: 36px;
  height: 36px;
  font-size: 20px;
}

#back-button,
#forward-button,
#reload-button,
#search-button {
  width: 36px;
  height: 36px;
  font-size: 18px;
}


@media (max-width: 800px) {
  #url-input {
    width: 60vw;
  }

  #go {
    display: none;
  }

  #tabs-container {
    font-size: 12px;
  }
}
